@import "tailwindcss";
@font-face {
  font-family: squeeze;
  src: url(./assets/fonts/BarlowCondensed-Regular.ttf);
}
@font-face {
  font-family: main;
  src: url(./assets/fonts/GoogleSansFlex-VariableFont_GRAD\,ROND\,opsz\,slnt\,wdth\,wght.ttf);
}
body {
  background-color: rgb(239, 239, 239);
  color: black;
  font-family: main;
}

body::-webkit-scrollbar {
  display: none;
}

.true{
  display: flex;
  color: red;
}
.false{
  display: none;
}